/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

:root{
    --yellow:#ffcd00;
    --blue:#00b4ff;
    --pink: #ff0091;
    --red: #eb0028;
    --purple: #9900ff;
    --morado: #af1eaa;
    --red-orange: #ff4614;
    --orange: #ff8c00;
    --green: #91d700;
    --brown: #964600;
    --mint: #2dd7c3;
    --darkblue: #006eff;
}

span.blue{color: var(--blue);}
span.orange{color: var(--orange);}
span.pink{color: var(--pink);}
span.purple{color: var(--purple);}
span.red{color: var(--red);}
span.redorange{color: var(--red-orange);}
span.yellow{color: var(--yellow);}
span.green{color: var(--green);}
span.mint{color: var(--mint);}
span.darkblue{color: var(--darkblue);}
span.brown{color: var(--brown);}
span.morado{color: var(--morado);}

section{
    padding: 30px 7%;
}

*::selection{
    background: gainsboro;
}

img{
    width: 100%;
}

body{
    margin: 0 auto;
}

/* HEADER */

header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 7%;
    transition: 0.2s;
  }
  
  .logo{
    display: flex;
    align-items: center;
  }
  
  .logo img{
    width: 60px;
  }
  
  .navbar{
    display: flex;
  }
  
  .navbar a{
    font-size: 17px;
    padding: 11px 28px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  /* Cambios de color en la navbar */
  .navbar a.nosotros:hover{background-color: var(--blue); color: #fff;}
  .navbar a.productos:hover{background-color: var(--purple); color: #fff;}
  .navbar a.recetas:hover{background-color: var(--red); color: #fff;}
  .navbar a.novedades:hover{background-color: var(--pink); color: #fff;}
  /* Fin cambios de color */
  
  
  #menu-icon{
    font-size: 40px;
    color: #111;
    cursor: pointer;
    z-index: 1001;
    display: none;
  }
  
  /* Menú desplegable */
  .navbar li a{
    background-color: #fff;
    color: #111;
    padding: 20px 25px;
    display: block;
  }
  
  .navbar li a.nosotros, a.productos, a.recetas, a.novedades{
    font-weight: 700;
  }

  .navbar li a.recetas{
    color: var(--red);
  }
  
  .navbar li a.seleccion{
    text-transform: capitalize;
    background-color: #f7f7f7;
    color: #111;
    font-size: 1.2rem;
    padding: 15px 25px;
  }
  
  .navbar li a.seleccion1{
    text-transform: capitalize;
    background-color: #f7f7f7;
    color: #111;
    font-size: 1.2rem;
    padding: 15px 27px 15px 15px;
  }
  
  .navbar li a.seleccion2{
    text-transform: capitalize;
    background-color: #f7f7f7;
    color: #111;
    padding: 15px 19px 15px 15px;
    font-size: 1.2rem;
  }
  
  .navbar li a.seleccion:hover{
    color: #fff;
    background-color: #181818;
  }
  
  .navbar li a.seleccion1:hover{
    color: #fff;
    background-color: #181818;
  }
  
  .navbar li a.seleccion2:hover{
    color: #fff;
    background-color: #181818;
  }
  
  .navbar > li{
    float: left;
  }
  
  .navbar li ul{
    display: none;
    position: absolute;
    min-width: 150px;
  }
  
  .navbar li:hover > ul{
    display: block;
  }
  
  .navbar li ul li{
    position: relative;
  }
  
  .navbar li ul li ul{
    right: 153px;
    top: 0px;
  }
  /* Fin menú desplegable */
  /* FIN HEADER */

/* HOME */
.principal{
    display: flex;
    padding: 90px 0;
}

.arrow{
    padding: 0;
    margin: 0 auto;
    rotate: 90deg;
    margin-bottom: -30px;
}

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    gap: 1rem;
}

.home-text{
    margin-top: 150px;
    flex: 1 1 13rem;
}

.home-text h1{
    font-size: 90px;
    text-transform: uppercase;
    /* rotate: -90deg; */
    color: #111;
}

.home-img{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    flex: 1 1 10rem;
}

.home-img img{
    width: 82%;
    animation: animate 3s linear infinite
}

@keyframes animate{
    0%{
        transform: translate(-10px, 10px);
    }
    50%{
        transform: translate(-10px, -10px);
    }
    100%{
        transform: translate(-10px, 10px);
    }
}

/* FIN HOME */

/* NOTAREPA, NOTBUÑUELO */

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    margin-top: 2rem;
}

.arepa:hover, .bunuelo:hover, .empanada:hover{
  box-shadow: 0px 0px 20px rgba(75, 75, 75, 0.4);
  transition: all .5s ease;
}

.arepa, .bunuelo, .empanada{
  margin: 20px 0;
}

.arepa-img img{
    width: 90%;
}

h1{
    font-size: 70px;
    font-weight: 800;
}

span.subtitle{
    font-size: 25px;
    font-weight: 700;
    margin-right: 10px;
}

.arepa-img, .bunuelo-img, .empanada-img, .arroz-img{
    flex: 1 1 21rem;
}

.arepa-text, .bunuelo-text, .empanada-text, .arroz-text{
    flex: 1 1 21rem;
    margin-top: 150px;
}

h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-flex;
    margin-right: 20px;
}

p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

.btn{
    padding: 7px 16px;
    border-radius: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
}

.btn:hover{
    color: #fff;
}
/* FIN NOTAREPA, NOTBUÑUELO */

/* FOOTER */
.container-footer{
  max-width: 1590px;
  margin: 0 auto;
}

.footer{
  background-color: #111;
  padding: 80px 0;
}

.footer img{
  width: 90px;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
}

.footer-links{
  width: 25%;
  padding: 0 25px;
}

.footer-links h4{
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-links h4 a{
  color: #fff;
}

.footer-links h4.hoverproductos a:hover{
  color: var(--purple);
  transition: all .3s ease;
}

.footer-links h4.hoverrecetas a:hover{
  color: var(--red);
  transition: all .3s ease;
}

.footer-links ul li{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.footer-links ul.contact-us li span{
  display: inline-flex;
  margin-bottom: -13px;
}

.footer-links ul li.title a{
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-links ul li a{
  font-size: 18px;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.footer-links ul li a.we:hover{
  padding-left: 0px;
  color: var(--blue);
  transition: all .3s ease;
}

.footer-links ul li a.logo:hover{
  padding-left: 0px;
}

.footer-links ul li a.news:hover{
  padding-left: 0px;
  color: var(--pink);
  transition: all .3s ease;
}

.footer-links ul li a:hover{
  padding-left: 6px;
}

.footer-links ul li a:hover span.mayo{
  color: var(--pink);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.burger{
  color: var(--yellow);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.chicken{
  color: var(--purple);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.milk{
  color: var(--blue);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.icecream{
  color: var(--red);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.meat{
  color: var(--red-orange);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.mila{
  color: var(--orange);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.tamal{
  color: var(--green);
  transition: all .3s ease;
}
.footer-links ul li a:hover span.arepa{
  color: var(--darkblue);
  transition: all .3s ease;
}

.footer-links ul.contact-us li i{
  font-size: 20px;
  padding: 3px;
  color: #111;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .5s ease;
}

.footer-links ul.contact-us li.facebook:hover i{
  background: var(--blue);
}

.footer-links ul.contact-us li.instagram:hover i{
  background: var(--pink);
}

.footer-links ul.contact-us li.linkedin:hover i{
  background: var(--darkblue);
}

.footer-links ul.contact-us li.youtube:hover i{
  background: var(--red);
}
/* FIN FOOTER */